@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 0.2s ease-in-out;
}

html,
body,
:root {
  height: 100%;
}

body {
  width: 100%;
  background: rgb(122, 255, 199);
  background: linear-gradient(
    129deg,
    rgba(122, 255, 199, 1) 0%,
    rgba(71, 204, 203, 1) 100%
  );
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  z-index: 10;
}

.halftone {
  --dotSize: 0.15rem;
  --stop1: 3%;
  --stop2: 60%;
}

.halftone::after {
  /* Cover our element */
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.35;
  /* Dotted background */
  background-image: radial-gradient(
    circle at center,
    #04605f var(--dotSize),
    transparent 0
  );
  background-size: 1.5rem 1.5rem;
  background-position: 0 0, 0.65rem 0.65rem;
}
.halftone::after {
  mask-image: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 0));
}
.navbar {
  /* gradient from top to bottom */
  background: rgb(122, 255, 199);
  background: linear-gradient(
    180deg,
    rgba(2, 55, 33, 0.455) 0%,
    rgba(71, 204, 204, 0) 100%
  );
}
