@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  width: 100%;
  background: rgb(122, 255, 199);
  background: linear-gradient(
    129deg,
    rgba(122, 255, 199, 1) 0%,
    rgba(71, 204, 203, 1) 100%
  );
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  z-index: 10;
}
